## This notebook is responsible for reading all the CSV files, cleaning them, and concatinating them into one dataframe

In [1]:
import pandas as pd
import datetime as dt
import numpy as np

### Read CSV Files

In [2]:
# read 2011-2012 season csv file
df_2011_2012 = pd.read_csv(
    "./Data/2011-12.csv"
)
df_2011_2012.head(1)

,Unnamed: 0,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin
0,0,2011-12-25,New York Knicks,Boston Celtics,195.5,5.0,-210,185,210,2

In [3]:
# read 2012-2013 season csv file
df_2012_2013 = pd.read_csv(
    "./Data/2012-13.csv"
)
df_2012_2013.head(1)

,Unnamed: 0,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin
0,0,2012-10-30,Cleveland Cavaliers,Washington Wizards,191.0,5.5,-250,210,178,10

In [4]:
# read 2013-2014 season csv file
df_2013_2014 = pd.read_csv(
    "./Data/2013-14.csv"
)
df_2013_2014.head(1)

,Unnamed: 0,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin
0,0,2013-10-29,Indiana Pacers,Orlando Magic,187.0,12.5,-1025,675,184,10

In [5]:
# read 2014-2015 season csv file
df_2014_2015 = pd.read_csv(
    "./Data/2014-15.csv"
)
df_2014_2015.head(1)

,Unnamed: 0,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin
0,0,2014-10-28,San Antonio Spurs,Dallas Mavericks,206.5,6.0,-165,140,201,1

In [6]:
# read 2015-2016 season csv file
df_2015_2016 = pd.read_csv(
    "./Data/2015-16.csv"
)
df_2015_2016.head(1)

,Unnamed: 0,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin
0,0,2015-10-27,Chicago Bulls,Cleveland Cavaliers,197.5,2.0,-180,160,192,2

In [7]:
# read 2016-2017 season csv file
df_2016_2017 = pd.read_csv(
    "./Data/2016-17.csv"
)
df_2016_2017.head(1)

,Unnamed: 0,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin
0,0,2016-10-25,Cleveland Cavaliers,New York Knicks,205.5,9.5,-450,355,205,29

In [8]:
# read 2017-2018 season csv file
df_2017_2018 = pd.read_csv(
    "./Data/2017-18.csv"
)
df_2017_2018.head(1)

,Unnamed: 0,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin
0,0,2017-10-17,Cleveland Cavaliers,Boston Celtics,214.5,4.0,-195,166,201,3

In [9]:
# read 2018-2019 season csv file
df_2018_2019 = pd.read_csv(
    "./Data/2018-19.csv"
)
df_2018_2019.head(1)

,Unnamed: 0,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin
0,0,2018-10-16,Boston Celtics,Philadelphia 76ers,208.5,5.0,-200,170,192,18

In [10]:
# read 2019-2020 season csv file
df_2019_2020 = pd.read_csv(
    "./Data/2019-20.csv"
)
df_2019_2020.head(1)

,Unnamed: 0,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin
0,0,2019-10-22,Toronto Raptors,New Orleans Pelicans,231.5,6.5,-280,230,252,8

In [11]:
# read 2020-2021 season csv file
df_2020_2021 = pd.read_csv(
    "./Data/2020-21.csv"
)
df_2020_2021.head(1)

,Unnamed: 0,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin
0,0,2020-12-22,Brooklyn Nets,Golden State Warriors,228.0,5.5,-320,265,224,26

In [12]:
# read 2021-2022 season csv file
df_2021_2022_season = pd.read_csv(
    "./Data/2021-22.csv"
)
df_2021_2022_season.head(1)

,Unnamed: 0,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin
0,0,2021-10-19,Milwaukee Bucks,Brooklyn Nets,240.5,0.0,-125,105,231,23

### Concatinate the data into one large dataframe with 10 seasons of data and clean the data

In [13]:
# create a combined dataframe with the 2011-2021 seasons
df_combined_2011_2021 = pd.concat([
    df_2011_2012,
    df_2012_2013,
    df_2013_2014,
    df_2014_2015,
    df_2015_2016,
    df_2016_2017,
    df_2017_2018,
    df_2018_2019,
    df_2019_2020,
    df_2020_2021
])
df_combined_2011_2021

,Unnamed: 0,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin
0,0,2011-12-25,New York Knicks,Boston Celtics,195.5,5.0,-210,185,210,2
1,1,2011-12-25,Dallas Mavericks,Miami Heat,190.5,3.5,185,-210,199,-11
2,2,2011-12-25,Los Angeles Lakers,Chicago Bulls,186.0,1.5,205,-245,175,-1
3,3,2011-12-25,Oklahoma City Thunder,Orlando Magic,197.0,7.5,-380,310,186,8
4,4,2011-12-25,Golden State Warriors,Los Angeles Clippers,212.0,4.0,175,-200,191,-19
...,...,...,...,...,...,...,...,...,...,...
1166,1166,2021-07-08,Phoenix Suns,Milwaukee Bucks,221.0,5.5,-180,160,226,10
1167,1167,2021-07-11,Milwaukee Bucks,Phoenix Suns,222.0,3.5,-210,180,220,20
1168,1168,2021-07-14,Milwaukee Bucks,Phoenix Suns,220.5,3.5,-190,170,212,6
1169,1169,2021-07-17,Phoenix Suns,Milwaukee Bucks,218.5,4.0,-170,150,242,-4
1170,1170,2021-07-20,Milwaukee Bucks,Phoenix Suns,223.0,5.0,-190,170,203,7

In [14]:
# Reset the index
df_combined_2011_2021 = df_combined_2011_2021.reset_index()

In [15]:
# drop the "Unnamed: 0" column
df_combined_2011_2021 = df_combined_2011_2021.drop(
    columns=[
        'Unnamed: 0'
    ]
)
df_combined_2011_2021.head(1)

,index,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin
0,0,2011-12-25,New York Knicks,Boston Celtics,195.5,5.0,-210,185,210,2

In [16]:
# rename the "Home", "Away", "OU", "ML_Home", "ML_Away", and "Points" columns
df_combined_2011_2021 = df_combined_2011_2021.rename(
    columns={
        'Home':'Home_Team',
        'Away':'Away_Team',
        'OU':'Over_Under',
        'ML_Home':'Moneyline_Home_Team',
        'ML_Away':'Moneyline_Away_Team',
        'Points':'Game_Total_Points'
    }
)
df_combined_2011_2021.head(1)

,index,Date,Home_Team,Away_Team,Over_Under,Spread,Moneyline_Home_Team,Moneyline_Away_Team,Game_Total_Points,Win_Margin
0,0,2011-12-25,New York Knicks,Boston Celtics,195.5,5.0,-210,185,210,2

In [17]:
# check the data types of all the columns
df_combined_2011_2021.dtypes

index                    int64
Date                    object
Home_Team               object
Away_Team               object
Over_Under             float64
Spread                 float64
Moneyline_Home_Team      int64
Moneyline_Away_Team      int64
Game_Total_Points        int64
Win_Margin               int64
dtype: object

In [18]:
# change the 'Date' column to datetime data type
df_combined_2011_2021['Date'] = pd.to_datetime(df_combined_2011_2021['Date'])
df_combined_2011_2021

,index,Date,Home_Team,Away_Team,Over_Under,Spread,Moneyline_Home_Team,Moneyline_Away_Team,Game_Total_Points,Win_Margin
0,0,2011-12-25,New York Knicks,Boston Celtics,195.5,5.0,-210,185,210,2
1,1,2011-12-25,Dallas Mavericks,Miami Heat,190.5,3.5,185,-210,199,-11
2,2,2011-12-25,Los Angeles Lakers,Chicago Bulls,186.0,1.5,205,-245,175,-1
3,3,2011-12-25,Oklahoma City Thunder,Orlando Magic,197.0,7.5,-380,310,186,8
4,4,2011-12-25,Golden State Warriors,Los Angeles Clippers,212.0,4.0,175,-200,191,-19
...,...,...,...,...,...,...,...,...,...,...
12576,1166,2021-07-08,Phoenix Suns,Milwaukee Bucks,221.0,5.5,-180,160,226,10
12577,1167,2021-07-11,Milwaukee Bucks,Phoenix Suns,222.0,3.5,-210,180,220,20
12578,1168,2021-07-14,Milwaukee Bucks,Phoenix Suns,220.5,3.5,-190,170,212,6
12579,1169,2021-07-17,Phoenix Suns,Milwaukee Bucks,218.5,4.0,-170,150,242,-4
12580,1170,2021-07-20,Milwaukee Bucks,Phoenix Suns,223.0,5.0,-190,170,203,7

In [19]:
# change the "Spread" column to float data type
df_combined_2011_2021['Spread'] = df_combined_2011_2021['Spread'].astype(float)
df_combined_2011_2021['Moneyline_Home_Team'] = df_combined_2011_2021['Moneyline_Home_Team'].astype(float)
df_combined_2011_2021['Moneyline_Away_Team'] = df_combined_2011_2021['Moneyline_Away_Team'].astype(float)
df_combined_2011_2021['Game_Total_Points'] = df_combined_2011_2021['Game_Total_Points'].astype(float)
df_combined_2011_2021['Win_Margin'] = df_combined_2011_2021['Win_Margin'].astype(float)

In [20]:
# check data types are changed correctly
df_combined_2011_2021.dtypes

index                           int64
Date                   datetime64[ns]
Home_Team                      object
Away_Team                      object
Over_Under                    float64
Spread                        float64
Moneyline_Home_Team           float64
Moneyline_Away_Team           float64
Game_Total_Points             float64
Win_Margin                    float64
dtype: object

In [21]:
# check for any null values
df_combined_2011_2021.isnull().sum()

index                  0
Date                   0
Home_Team              0
Away_Team              0
Over_Under             0
Spread                 0
Moneyline_Home_Team    0
Moneyline_Away_Team    0
Game_Total_Points      0
Win_Margin             0
dtype: int64

In [22]:
# check for any duplicated values
df_combined_2011_2021.duplicated().sum()

0

### Concatinate the data into one large dataframe with 5 seasons of data and clean the data

In [23]:
# create a combined dataframe with the 2016-2021 seasons
df_combined_2016_2021 = pd.concat([
    df_2016_2017,
    df_2017_2018,
    df_2018_2019,
    df_2019_2020,
    df_2020_2021
])
df_combined_2016_2021

,Unnamed: 0,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin
0,0,2016-10-25,Cleveland Cavaliers,New York Knicks,205.5,9.5,-450,355,205,29
1,1,2016-10-25,Portland Trail Blazers,Utah Jazz,194.0,6.0,-235,195,217,9
2,2,2016-10-25,Golden State Warriors,San Antonio Spurs,210.5,8.0,-400,325,229,-29
3,3,2016-10-26,Orlando Magic,Miami Heat,202.0,4.0,-155,135,204,-12
4,4,2016-10-26,Indiana Pacers,Dallas Mavericks,207.5,5.0,-215,185,251,9
...,...,...,...,...,...,...,...,...,...,...
1166,1166,2021-07-08,Phoenix Suns,Milwaukee Bucks,221.0,5.5,-180,160,226,10
1167,1167,2021-07-11,Milwaukee Bucks,Phoenix Suns,222.0,3.5,-210,180,220,20
1168,1168,2021-07-14,Milwaukee Bucks,Phoenix Suns,220.5,3.5,-190,170,212,6
1169,1169,2021-07-17,Phoenix Suns,Milwaukee Bucks,218.5,4.0,-170,150,242,-4
1170,1170,2021-07-20,Milwaukee Bucks,Phoenix Suns,223.0,5.0,-190,170,203,7

In [24]:
# Reset the index
df_combined_2016_2021 = df_combined_2016_2021.reset_index()

In [25]:
# drop the "Unnamed: 0" column
df_combined_2016_2021 = df_combined_2016_2021.drop(
    columns=[
        'Unnamed: 0'
    ]
)
df_combined_2016_2021.head(1)

,index,Date,Home,Away,OU,Spread,ML_Home,ML_Away,Points,Win_Margin
0,0,2016-10-25,Cleveland Cavaliers,New York Knicks,205.5,9.5,-450,355,205,29

In [26]:
# rename the "Home", "Away", "OU", "ML_Home", "ML_Away", and "Points" columns
df_combined_2016_2021 = df_combined_2016_2021.rename(
    columns={
        'Home':'Home_Team',
        'Away':'Away_Team',
        'OU':'Over_Under',
        'ML_Home':'Moneyline_Home_Team',
        'ML_Away':'Moneyline_Away_Team',
        'Points':'Game_Total_Points'
    }
)
df_combined_2016_2021.head(1)

,index,Date,Home_Team,Away_Team,Over_Under,Spread,Moneyline_Home_Team,Moneyline_Away_Team,Game_Total_Points,Win_Margin
0,0,2016-10-25,Cleveland Cavaliers,New York Knicks,205.5,9.5,-450,355,205,29

In [27]:
# check the data types of all the columns
df_combined_2016_2021.dtypes

index                    int64
Date                    object
Home_Team               object
Away_Team               object
Over_Under             float64
Spread                 float64
Moneyline_Home_Team      int64
Moneyline_Away_Team      int64
Game_Total_Points        int64
Win_Margin               int64
dtype: object

In [28]:
# change the 'Date' column to datetime data type
df_combined_2016_2021['Date'] = pd.to_datetime(df_combined_2016_2021['Date'])
df_combined_2016_2021

,index,Date,Home_Team,Away_Team,Over_Under,Spread,Moneyline_Home_Team,Moneyline_Away_Team,Game_Total_Points,Win_Margin
0,0,2016-10-25,Cleveland Cavaliers,New York Knicks,205.5,9.5,-450,355,205,29
1,1,2016-10-25,Portland Trail Blazers,Utah Jazz,194.0,6.0,-235,195,217,9
2,2,2016-10-25,Golden State Warriors,San Antonio Spurs,210.5,8.0,-400,325,229,-29
3,3,2016-10-26,Orlando Magic,Miami Heat,202.0,4.0,-155,135,204,-12
4,4,2016-10-26,Indiana Pacers,Dallas Mavericks,207.5,5.0,-215,185,251,9
...,...,...,...,...,...,...,...,...,...,...
6242,1166,2021-07-08,Phoenix Suns,Milwaukee Bucks,221.0,5.5,-180,160,226,10
6243,1167,2021-07-11,Milwaukee Bucks,Phoenix Suns,222.0,3.5,-210,180,220,20
6244,1168,2021-07-14,Milwaukee Bucks,Phoenix Suns,220.5,3.5,-190,170,212,6
6245,1169,2021-07-17,Phoenix Suns,Milwaukee Bucks,218.5,4.0,-170,150,242,-4
6246,1170,2021-07-20,Milwaukee Bucks,Phoenix Suns,223.0,5.0,-190,170,203,7

In [29]:
# change the "Spread" column to float data type
df_combined_2016_2021['Spread'] = df_combined_2016_2021['Spread'].astype(float)
df_combined_2016_2021['Moneyline_Home_Team'] = df_combined_2016_2021['Moneyline_Home_Team'].astype(float)
df_combined_2016_2021['Moneyline_Away_Team'] = df_combined_2016_2021['Moneyline_Away_Team'].astype(float)
df_combined_2016_2021['Game_Total_Points'] = df_combined_2016_2021['Game_Total_Points'].astype(float)
df_combined_2016_2021['Win_Margin'] = df_combined_2016_2021['Win_Margin'].astype(float)

In [30]:
# check data types are changed correctly
df_combined_2016_2021.dtypes

index                           int64
Date                   datetime64[ns]
Home_Team                      object
Away_Team                      object
Over_Under                    float64
Spread                        float64
Moneyline_Home_Team           float64
Moneyline_Away_Team           float64
Game_Total_Points             float64
Win_Margin                    float64
dtype: object

In [31]:
# check for any null values
df_combined_2016_2021.isnull().sum()

index                  0
Date                   0
Home_Team              0
Away_Team              0
Over_Under             0
Spread                 0
Moneyline_Home_Team    0
Moneyline_Away_Team    0
Game_Total_Points      0
Win_Margin             0
dtype: int64

In [32]:
# check for any duplicated values
df_combined_2016_2021.duplicated().sum()

0